Repository cedsbe/home-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-validate, kubernetes-validate, taskfile-validate

packer-validate:
  name: Validate Packer templates
  entry: bash task_scripts/validate_packer.sh
  language: system
  pass_filenames: false

kubernetes-validate:
  name: Validate Kubernetes manifests with kubeconform
  entry: bash task_scripts/validate_kubernetes.sh
  language: system
  pass_filenames: false

taskfile-validate:
  name: Validate Taskfiles
  entry: bash task_scripts/validate_taskfiles.sh
  language: system
  pass_filenames: false

feat(k8s): add Plex media server deployment (#382)
  k8s/apps/media/plex/deployment.yaml
  k8s/apps/media/plex/http-route.yaml
  k8s/apps/media/plex/kustomization.yaml
  k8s/apps/media/plex/network-policies.yaml
  k8s/apps/media/plex/ns.yaml
  k8s/apps/media/plex/pvc.yaml
  k8s/apps/media/plex/secret-claim.yaml
  k8s/apps/media/plex/svc-plex.yaml
  k8s/apps/media/plex/svc.yaml
  k8s/apps/media/project.yaml
  sensitive/k8s_apps_media_plex_secret-claim.yaml
  sensitive/k8s_apps_media_plex_secret-claim_sealed.yaml
Due: kubernetes-validate

chore(claude-code): add git fetch/rebase permissions to settings
  .claude/settings.json
Due: none

feat(packer): add ws2025/win11 task namespaces and consolidate .env
  .claude/rules/packer.md
  .github/copilot-instructions.md
  README.md
  TASK_STRUCTURE.md
  Taskfile.yml
  packer/.env.template
  packer/.gitignore
  packer/Taskfile.yml
  packer/windows_11/.env.template
  packer/windows_11/README.md
  packer/windows_11/Taskfile.yml
  packer/windows_11/variables.pkr.hcl
  packer/windows_11/windows_11_clone.pkr.hcl
  packer/windows_server_2025/.env.template
  packer/windows_server_2025/README.md
  packer/windows_server_2025/Taskfile.yml
  packer/windows_server_2025/variables.pkr.hcl
  packer/windows_server_2025/windows_server_2025_clone.pkr.hcl
  task_scripts/validate_packer.sh
Due: packer-validate, taskfile-validate

feat(packer): add Windows 11 Packer templates for Proxmox
  packer/windows_11/.env.template
  packer/windows_11/.gitignore
  packer/windows_11/README.md
  packer/windows_11/Taskfile.yml
  packer/windows_11/build_files/configs/cloudbase-init/cloudbase-init-unattend.conf
  packer/windows_11/build_files/configs/cloudbase-init/cloudbase-init.conf
  packer/windows_11/build_files/configs/unattended/unattended-clone.xml.pkrtpl
  packer/windows_11/build_files/configs/unattended/unattended-iso.xml.pkrtpl
  packer/windows_11/build_files/scripts/config-os.ps1
  packer/windows_11/build_files/scripts/configure-cloudbase-init.ps1
  packer/windows_11/build_files/scripts/disable-services.ps1
  packer/windows_11/build_files/scripts/enable-openssh.ps1
  packer/windows_11/build_files/scripts/generalize-clone.ps1
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/build_files/scripts/initial-setup.ps1
  packer/windows_11/build_files/scripts/install-cloudbase-init.ps1
  packer/windows_11/build_files/scripts/install-powershell-core.ps1
  packer/windows_11/build_files/scripts/install-sdelete.ps1
  packer/windows_11/build_files/scripts/remove-azure-arc.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/build_files/scripts/set-network-private.ps1
  packer/windows_11/main.pkr.hcl
  packer/windows_11/variables.auto.pkrvars.hcl
  packer/windows_11/variables.pkr.hcl
  packer/windows_11/windows_11_clone.pkr.hcl
  packer/windows_11/windows_11_iso.pkr.hcl
Due: packer-validate, taskfile-validate

feat(k8s): allow arr egress to Plex for library update integration
  k8s/apps/media/arr/network-policies.yaml
Due: kubernetes-validate

feat(k8s): allow arr egress to Plex for library update integration (#402)
  k8s/apps/media/arr/network-policies.yaml
Due: kubernetes-validate

feat(k8s): allow arr ingress to Plex for library update integration
  k8s/apps/media/plex/network-policies.yaml
Due: kubernetes-validate

feat(k8s): allow arr ingress to Plex for library update integration (#403)
  k8s/apps/media/plex/network-policies.yaml
Due: kubernetes-validate

fix(adguard): add readiness and liveness probes for proper Cilium LB health detection
  k8s/infra/network/dns/adguard/deployment.yaml
Due: kubernetes-validate

fix(adguard): add readiness and liveness probes for proper Cilium LB health detection (#429)
  k8s/infra/network/dns/adguard/deployment.yaml
Due: kubernetes-validate

docs(k8s): add LoadBalancer health probes best practices and troubleshooting guide
  .github/copilot-instructions.md
Due: none

docs(k8s): add LoadBalancer health probes best practices and troubleshooting guide (#431)
  .github/copilot-instructions.md
Due: none

fix(k8s): add readiness and liveness probes to LoadBalancer services
  k8s/apps/dev/whoamigw/deployment.yaml
  k8s/apps/media/plex/deployment.yaml
  k8s/apps/utils/torrent/deployment.yaml
Due: kubernetes-validate

fix(k8s): add readiness and liveness probes to LoadBalancer services (#432)
  k8s/apps/dev/whoamigw/deployment.yaml
  k8s/apps/media/plex/deployment.yaml
  k8s/apps/utils/torrent/deployment.yaml
Due: kubernetes-validate

feat(packer): enhance Windows 11 generalization scripts with improved error handling and validation for service stops and feature removals
  packer/windows_11/Taskfile.yml
  packer/windows_11/build_files/scripts/generalize-clone.ps1
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
Due: taskfile-validate

feat(terraform): add Windows 11 scan client configuration for Brother MFC-L2740DW
  cspell-dict.txt
  terraform/windows/vm_scan_client_0.tf
Due: none

refactor: improve clarity in create-pr command documentation
  .claude/commands/create-pr.md
Due: none

chore(packer): clean up provider hashes in .terraform.lock.hcl for consistency
  terraform/windows/.terraform.lock.hcl
Due: none

refactor: align Windows Server 2025 scripts with Win11 baseline
  packer/windows_server_2025/build_files/scripts/disable-services.ps1
  packer/windows_server_2025/build_files/scripts/generalize-clone.ps1
  packer/windows_server_2025/build_files/scripts/generalize-iso.ps1
Due: none

feat(docker): add xorriso to the Dockerfile for improved image handling
  .devcontainer/Dockerfile
Due: none

Refactor generalization scripts for Windows 11 and Windows Server 2025
  cspell-dict.txt
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/variables.auto.pkrvars.hcl
  packer/windows_server_2025/build_files/scripts/generalize-iso.ps1
Due: none

feat(packer): enhance Windows 11 and Server 2025 configurations by deprovisioning bloatware AppX packages; update resource allocations for improved performance;
  cspell-dict.txt
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/variables.auto.pkrvars.hcl
  packer/windows_11/windows_11_iso.pkr.hcl
  packer/windows_server_2025/build_files/scripts/remove-features.ps1
  packer/windows_server_2025/variables.auto.pkrvars.hcl
  packer/windows_server_2025/windows_server_2025_clone.pkr.hcl
Due: packer-validate

chore(packer): update provider hashes in .terraform.lock.hcl for consistency
  terraform/azure/global/.terraform.lock.hcl
  terraform/azure/landing-static-web-app/.terraform.lock.hcl
Due: none

feat(packer): add script for nuclear removal of Edge GameAssist and update provisioning in ISO configuration
  packer/windows_11/build_files/scripts/remove-edge-gameassist.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/build_files/scripts/sysprep.ps1
  packer/windows_11/windows_11_iso.pkr.hcl
Due: packer-validate

feat(packer): enhance Windows 11 generalization scripts by disabling Edge update services, preventing reinstallation of packages, and improving logging for service states and AppX package removal
  cspell-dict.txt
  packer/windows_11/build_files/scripts/disable-services.ps1
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/windows_11_iso.pkr.hcl
Due: packer-validate

Refactor AppX package management scripts and add disk optimization
  packer/windows_11/build_files/scripts/cleanup-appx.ps1
  packer/windows_11/build_files/scripts/disable-services.ps1
  packer/windows_11/build_files/scripts/generalize-clone.ps1
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/build_files/scripts/optimize-disk.ps1
  packer/windows_11/build_files/scripts/remove-edge-gameassist.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/windows_11_iso.pkr.hcl
  packer/windows_server_2025/build_files/scripts/generalize-clone.ps1
  packer/windows_server_2025/build_files/scripts/generalize-iso.ps1
Due: packer-validate

feat(packer): enhance generalization scripts for Windows 11 by stopping Windows Store services to prevent auto-reinstallation of packages; improve AppX package removal logic and error handling
  .devcontainer/devcontainer.json
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/windows_11_iso.pkr.hcl
Due: packer-validate

feat: Enhance Windows 11 Packer configuration and scripts
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/settings.json
  cspell-dict.txt
  packer/windows_11/Taskfile.yml
  packer/windows_11/build_files/configs/unattended/unattended-iso.xml.pkrtpl
  packer/windows_11/build_files/scripts/generalize-iso.ps1
  packer/windows_11/build_files/scripts/remove-features.ps1
  packer/windows_11/build_files/scripts/sysprep.ps1
  packer/windows_11/variables.auto.pkrvars.hcl
  packer/windows_11/windows_11_iso.pkr.hcl
Due: packer-validate, taskfile-validate

Update Windows 11 and Windows Server 2025 Packer configurations
  packer/windows_11/README.md
  packer/windows_11/build_files/scripts/cleanup-appx.ps1
  packer/windows_11/build_files/scripts/generalize-clone.ps1
  packer/windows_11/windows_11_clone.pkr.hcl
  packer/windows_11/windows_11_iso.pkr.hcl
  packer/windows_server_2025/README.md
Due: packer-validate

chore(packer): add variable validation and sensitive flags for credential handling
  packer/windows_11/variables.pkr.hcl
  packer/windows_server_2025/variables.pkr.hcl
Due: packer-validate

feat(packer): remove obsolete .env.template file for Windows 11 configuration
  packer/windows_11/.env.template
  packer/windows_server_2025/.env
  packer/windows_server_2025/.env.template
Due: none

fix(plex): use TCP probe instead of HTTP (Plex requires authentication)
  k8s/apps/media/plex/deployment.yaml
Due: kubernetes-validate

Fix/loadbalancer health probes (#433)
  k8s/apps/media/plex/deployment.yaml
Due: kubernetes-validate

chore(deps): update Talos version to v1.13.3 and lint
  .mcp.json
  .tflint.hcl
  terraform/kubernetes/.terraform.lock.hcl
  terraform/kubernetes/modules/proxmox_csi_plugin/main.tf
  terraform/kubernetes/modules/talos/main.tf
  terraform/kubernetes/modules/talos/providers.tf
  terraform/kubernetes/modules/talos/proxmox-images.tf
  terraform/kubernetes/modules/talos/proxmox-vm.tf
  terraform/kubernetes/modules/talos/talos_images/main.tf
  terraform/kubernetes/modules/volumes/persistent_volume/main.tf
  terraform/kubernetes/modules/volumes/providers.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/main.tf
  terraform/kubernetes/providers.tf
  terraform/kubernetes/var_components_versions.auto.tfvars
Due: none

Linting
  terraform/azure/global/azuread_n8n_outlook.tf
  terraform/azure/global/main.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/outputs.tf
  terraform/windows/main.tf
  terraform/windows/modules/windows_clone_vm/examples/examples.tf
  terraform/windows/modules/windows_clone_vm/examples/main.tf
  terraform/windows/modules/windows_clone_vm/examples/providers.tf
  terraform/windows/modules/windows_clone_vm/examples/variables.tf
  terraform/windows/providers.tf
  terraform/windows/vm_admin_workstation_0.tf
  terraform/windows/vm_domain_controller_dc1.tf
  terraform/windows/vm_scan_client_0.tf
Due: none

Talos updates and tflinting (#542)
  .mcp.json
  .tflint.hcl
  terraform/azure/global/azuread_n8n_outlook.tf
  terraform/azure/global/main.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/outputs.tf
  terraform/kubernetes/.terraform.lock.hcl
  terraform/kubernetes/modules/proxmox_csi_plugin/main.tf
  terraform/kubernetes/modules/talos/main.tf
  terraform/kubernetes/modules/talos/providers.tf
  terraform/kubernetes/modules/talos/proxmox-images.tf
  terraform/kubernetes/modules/talos/proxmox-vm.tf
  terraform/kubernetes/modules/talos/talos_images/main.tf
  terraform/kubernetes/modules/volumes/persistent_volume/main.tf
  terraform/kubernetes/modules/volumes/providers.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/main.tf
  terraform/kubernetes/providers.tf
  terraform/kubernetes/var_components_versions.auto.tfvars
  terraform/windows/main.tf
  terraform/windows/modules/windows_clone_vm/examples/examples.tf
  terraform/windows/modules/windows_clone_vm/examples/main.tf
  terraform/windows/modules/windows_clone_vm/examples/providers.tf
  terraform/windows/modules/windows_clone_vm/examples/variables.tf
  terraform/windows/providers.tf
  terraform/windows/vm_admin_workstation_0.tf
  terraform/windows/vm_domain_controller_dc1.tf
  terraform/windows/vm_scan_client_0.tf
Due: none

Path conditions:
  packer-validate: any of: packer/.*\.pkr\.hcl$, but not: (?x)^(
  .*\.secrets\.auto\.tfvars$|
  packer/.*/\.env$|
  terraform/.*/\.env$|
  backend\.config$|
  sensitive/.*
)$

  kubernetes-validate: any of: ^k8s/.*\.(yaml|yml)$, but not: (?x)^(
  .*\.secrets\.auto\.tfvars$|
  packer/.*/\.env$|
  terraform/.*/\.env$|
  backend\.config$|
  sensitive/.*
)$

  taskfile-validate: any of: ^.*Taskfile\.yml$, but not: (?x)^(
  .*\.secrets\.auto\.tfvars$|
  packer/.*/\.env$|
  terraform/.*/\.env$|
  backend\.config$|
  sensitive/.*
)$

