Repository cedsbe/home-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-validate, kubernetes-validate, taskfile-validate

.pre-commit-config.yaml:

# Pre-commit configuration for home-infra repository
# Excludes git-crypt encrypted files to prevent CI/CD failures when keys are not available
# Encrypted files: *.secrets.auto.tfvars, backend.config, packer/**/.env, terraform/**/.env

# Global exclude for all git-crypt encrypted files
exclude: |
  (?x)^(
    .*\.secrets\.auto\.tfvars$|
    packer/.*/\.env$|
    terraform/.*/\.env$|
    backend\.config$|
    sensitive/.*
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace

      - id: end-of-file-fixer

      - id: check-merge-conflict

      - id: check-added-large-files

      - id: check-yaml
        args: [--allow-multiple-documents]

      - id: check-json
        exclude: |
          (?x)^(
            .devcontainer\/devcontainer\.json$
          )$

      - id: pretty-format-json
        args: ["--autofix"]
        exclude: |
          (?x)^(
            .devcontainer\/devcontainer\.json$
          )$

      - id: mixed-line-ending

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.4.0
    hooks:
      - id: cspell
        name: Spell check with cspell
        entry: cspell
        language: node
        files: \.(md|txt|yaml|yml|json|js|ts|tf|hcl|ps1|sh|py)$
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.log$|
            node_modules/.*|
            .terraform/.*|
            terraform\.tfstate.*|
            .task/.*
          )$

  # - repo: https://github.com/terraform-docs/terraform-docs
  #   rev: v0.20.0
  #   hooks:
  #     - id: terraform-docs-go
  #       args: ["markdown", "table", "--output-file", "README.md"]
  #       files: \.tf$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
      - id: terraform_fmt

      - id: terraform_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true

      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl

  # YAML linting (excluding k8s manifests which may have templating)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml, --strict]

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: packer-validate
        name: Validate Packer templates
        entry: bash task_scripts/validate_packer.sh
        language: system
        files: packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: kubernetes-validate
        name: Validate Kubernetes manifests with kubeconform
        entry: bash task_scripts/validate_kubernetes.sh
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false

      - id: taskfile-validate
        name: Validate Taskfiles
        entry: bash task_scripts/validate_taskfiles.sh
        language: system
        files: ^.*Taskfile\.yml$
        pass_filenames: false

fix(renovate): correct n8n repo name and enhance PR configuration (#247)
  renovate.json
Due: none

fix(cilium): update apiVersion from v2alpha1 to v2 in ip-pool.yaml
  k8s/infra/network/cilium/ip-pool.yaml
Due: kubernetes-validate

chore(deps): update n8n image tag to v2.6.3 and set host configuration
  k8s/apps/utils/n8n/values.yaml
Due: kubernetes-validate

chore(deps): update n8n image tag to v2.6.3 and set host configuration (#252)
  k8s/apps/utils/n8n/values.yaml
Due: kubernetes-validate

chore(config): change n8n port from 5678 to 80 for oauth redirect url setup
  k8s/apps/utils/n8n/values.yaml
Due: kubernetes-validate

chore(config): revert n8n port to 5678 and configure web hooks
  k8s/apps/utils/n8n/values.yaml
Due: kubernetes-validate

chore(argocd): add tasks to pause, check status, and resume ArgoCD syncing
  k8s/Taskfile.yml
Due: kubernetes-validate, taskfile-validate

chore(argocd): add dependencies and variables for ArgoCD pause and resume tasks
  k8s/Taskfile.yml
Due: kubernetes-validate, taskfile-validate

chore(argocd): enhance pause and resume tasks with status checks and messages
  k8s/Taskfile.yml
Due: kubernetes-validate, taskfile-validate

N8n configure webhook (#258)
  k8s/Taskfile.yml
  k8s/apps/utils/n8n/values.yaml
Due: kubernetes-validate, taskfile-validate

feat: add n8n Outlook integration and terraform lock files
  .gitignore
  k8s/Taskfile.yml
  terraform/azure/global/.terraform.lock.hcl
  terraform/azure/global/README.md
  terraform/azure/global/azure.secrets.auto.tfvars
  terraform/azure/global/azure.secrets.auto.tfvars.template
  terraform/azure/global/azuread_n8n_outlook.tf
  terraform/azure/global/main.tf
  terraform/azure/global/providers.tf
  terraform/azure/global/variables.tf
  terraform/azure/landing-static-web-app/.terraform.lock.hcl
  terraform/cloudflare/.terraform.lock.hcl
  terraform/kubernetes/modules/proxmox_csi_plugin/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/talos_images/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/persistent_volume/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/proxmox_volume/.terraform.lock.hcl
  terraform/windows/.terraform.lock.hcl
  terraform/windows/modules/windows_clone_vm/.terraform.lock.hcl
  terraform/windows/modules/windows_clone_vm/examples/.terraform.lock.hcl
Due: kubernetes-validate, taskfile-validate

fix: Address PR review feedback
  k8s/Taskfile.yml
  terraform/azure/global/README.md
  terraform/azure/global/azuread_n8n_outlook.tf
  terraform/azure/global/outputs.tf
  terraform/azure/global/variables.tf
  terraform/kubernetes/modules/talos/.terraform.lock.hcl
Due: kubernetes-validate, taskfile-validate

Update terraform/azure/global/README.md
  terraform/azure/global/README.md
Due: none

Remove unused .terraform.lock.hcl files from various modules and update provider versions in terraform/windows/.terraform.lock.hcl
  .pre-commit-config.yaml
  terraform/azure/landing-static-web-app/.terraform.lock.hcl
  terraform/azure/landing-static-web-app/providers.tf
  terraform/cloudflare/.terraform.lock.hcl
  terraform/kubernetes/modules/proxmox_csi_plugin/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/talos_images/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/persistent_volume/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/proxmox_volume/.terraform.lock.hcl
  terraform/windows/.terraform.lock.hcl
  terraform/windows/modules/windows_clone_vm/.terraform.lock.hcl
  terraform/windows/modules/windows_clone_vm/examples/.terraform.lock.hcl
Due: none

feat: Add n8n Outlook integration and Terraform lock files (#259)
  .gitignore
  .pre-commit-config.yaml
  k8s/Taskfile.yml
  terraform/azure/global/.terraform.lock.hcl
  terraform/azure/global/README.md
  terraform/azure/global/azure.secrets.auto.tfvars
  terraform/azure/global/azure.secrets.auto.tfvars.template
  terraform/azure/global/azuread_n8n_outlook.tf
  terraform/azure/global/main.tf
  terraform/azure/global/outputs.tf
  terraform/azure/global/providers.tf
  terraform/azure/global/variables.tf
  terraform/azure/landing-static-web-app/.terraform.lock.hcl
  terraform/azure/landing-static-web-app/providers.tf
  terraform/cloudflare/.terraform.lock.hcl
  terraform/windows/.terraform.lock.hcl
Due: kubernetes-validate, taskfile-validate

feat: add cloudflared tunnel configuration
  k8s/infra/network/cloudflared/k8s_infra_network_cloudflared_home_token_sealed.yaml
  k8s/infra/network/cloudflared/kustomization.yaml
  k8s/infra/network/cloudflared/ns.yaml
  k8s/infra/network/cloudflared/tunnel.yaml
  sensitive/k8s_infra_network_cloudflared_home_token_sealed.yaml
Due: kubernetes-validate

feat: update cloudflared deployment namespace and add tunnel token secret
  k8s/infra/network/cloudflared/tunnel.yaml
  sensitive/k8s_infra_network_cloudflared_home_token.yaml
Due: kubernetes-validate

fix: correct image reference format in cloudflared deployment
  k8s/infra/network/cloudflared/tunnel.yaml
Due: kubernetes-validate

feat: add cloudflared namespace to project destinations
  k8s/infra/network/project.yaml
Due: kubernetes-validate

feat: update cloudflared deployment configuration with security context and node selector
  k8s/infra/network/cloudflared/tunnel.yaml
Due: kubernetes-validate

chore: add resource limits for cloudflared deployment
  k8s/infra/network/cloudflared/tunnel.yaml
Due: kubernetes-validate

feat: rename tunnel-token sealed secret for cloudflared deployment
  k8s/infra/network/cloudflared/kustomization.yaml
  k8s/infra/network/cloudflared/tunnel-token.yaml
Due: kubernetes-validate

Update k8s/infra/network/cloudflared/tunnel.yaml
  k8s/infra/network/cloudflared/tunnel.yaml
Due: kubernetes-validate

fix: update cloudflared image reference to include SHA256 digest
  k8s/infra/network/cloudflared/tunnel.yaml
Due: kubernetes-validate

feat: add cloudflared tunnel configuration (#265)
  k8s/infra/network/cloudflared/kustomization.yaml
  k8s/infra/network/cloudflared/ns.yaml
  k8s/infra/network/cloudflared/tunnel-token.yaml
  k8s/infra/network/cloudflared/tunnel.yaml
  k8s/infra/network/project.yaml
  sensitive/k8s_infra_network_cloudflared_home_token.yaml
  sensitive/k8s_infra_network_cloudflared_home_token_sealed.yaml
Due: kubernetes-validate

feat(renovate): add Manager column to PR body
  renovate.json
Due: none

feat(renovate): add Manager column to PR body (#272)
  renovate.json
Due: none

fix(renovate): use matchDatasources instead of matchManagers for n8n
  renovate.json
Due: none

fix(renovate): use matchDatasources instead of matchManagers for n8n (#273)
  renovate.json
Due: none

chore: update n8n to v2.7.4 and improve Azure Taskfile
  k8s/apps/utils/n8n/values.yaml
  terraform/azure/global/Taskfile.yml
  terraform/azure/global/azure.secrets.auto.tfvars
Due: kubernetes-validate, taskfile-validate

chore: update n8n to v2.7.4 and improve Azure Taskfile (#280)
  k8s/apps/utils/n8n/values.yaml
  terraform/azure/global/Taskfile.yml
  terraform/azure/global/azure.secrets.auto.tfvars
Due: kubernetes-validate, taskfile-validate

feat: add OIDC authentication support for Kubernetes API server
  k8s/infra/auth/rbac/cluster-role-binding.yaml
  k8s/infra/auth/rbac/kustomization.yaml
  terraform/kubernetes/main.tf
  terraform/kubernetes/modules/talos/talos-config.tf
  terraform/kubernetes/modules/talos/talos_machine_config_templates/common.yaml.tftpl
  terraform/kubernetes/modules/talos/variables.tf
  terraform/kubernetes/var_auth.auto.tfvars.template
  terraform/kubernetes/var_auth.secrets.auto.tfvars
  terraform/kubernetes/variables.tf
Due: kubernetes-validate

feat: add kubelogin installation for OIDC authentication in Dockerfile
  .devcontainer/Dockerfile
Due: none

Update k8s/infra/auth/rbac/cluster-role-binding.yaml
  k8s/infra/auth/rbac/cluster-role-binding.yaml
Due: kubernetes-validate

Update terraform/kubernetes/modules/talos/talos_machine_config_templates/common.yaml.tftpl
  terraform/kubernetes/modules/talos/talos_machine_config_templates/common.yaml.tftpl
Due: none

Update terraform/kubernetes/variables.tf
  terraform/kubernetes/variables.tf
Due: none

feat: update OIDC authentication variables to be optional and rename template file
  terraform/kubernetes/modules/talos/variables.tf
  terraform/kubernetes/var_auth.secrets.auto.tfvars.template
Due: none
