Repository cedsbe/home-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-validate, kubernetes-validate, taskfile-validate

packer-validate:
  name: Validate Packer templates
  entry: bash task_scripts/validate_packer.sh
  language: system
  pass_filenames: false

kubernetes-validate:
  name: Validate Kubernetes manifests with kubeconform
  entry: bash task_scripts/validate_kubernetes.sh
  language: system
  pass_filenames: false

taskfile-validate:
  name: Validate Taskfiles
  entry: bash task_scripts/validate_taskfiles.sh
  language: system
  pass_filenames: false

refactor(devcontainer): implement critical fixes and improvements
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/fish/conf.d/aliases.fish
  .devcontainer/fish/conf.d/direnv.fish
  .devcontainer/fish/conf.d/fzf.fish
  .devcontainer/fish/conf.d/starship.fish
  .devcontainer/fish/config.fish
Due: none

fix(devcontainer): address code review findings
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/fish/conf.d/aliases.fish
  .devcontainer/fish/config.fish
Due: none

chore(devcontainer): add renovate comments for automatic tool version updates
  .devcontainer/Dockerfile
Due: none

refactor(devcontainer): reorder ARG declarations for better readability
  .devcontainer/Dockerfile
Due: none

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Update .devcontainer/fish/conf.d/fzf.fish
  .devcontainer/fish/conf.d/fzf.fish
Due: none

Update .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: none

refactor(devcontainer): Implement critical fixes and improvements (#117)
  .devcontainer/.trivyignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/fish/conf.d/aliases.fish
  .devcontainer/fish/conf.d/direnv.fish
  .devcontainer/fish/conf.d/fzf.fish
  .devcontainer/fish/conf.d/starship.fish
  .devcontainer/fish/config.fish
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  cspell.json
Due: none

feat(devcontainer): add shell completions for helm, talosctl, argocd, gh, stern, and k9s chore(versions): update talos version to v1.12.0
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  terraform/kubernetes/var_components_versions.auto.tfvars
Due: none

feat(devcontainer): add shell completions for helm, talosctl, argocd, gh, stern, and k9s (#119)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  terraform/kubernetes/var_components_versions.auto.tfvars
Due: none

feat: Add Kubernetes manifests for database infrastructure setup with CloudnativePG
  cspell-dict.txt
  k8s/infra/database/application-set.yaml
  k8s/infra/database/cnpg/kustomization.yaml
  k8s/infra/database/cnpg/ns.yaml
  k8s/infra/database/cnpg/values.yaml
  k8s/infra/database/kustomization.yaml
  k8s/infra/database/project.yaml
Due: kubernetes-validate

Update k8s/infra/database/project.yaml
  k8s/infra/database/project.yaml
Due: kubernetes-validate

feat: Add Kubernetes manifests for database infrastructure setup with CloudnativePG (#122)
  cspell-dict.txt
  k8s/infra/database/application-set.yaml
  k8s/infra/database/cnpg/kustomization.yaml
  k8s/infra/database/cnpg/ns.yaml
  k8s/infra/database/cnpg/values.yaml
  k8s/infra/database/kustomization.yaml
  k8s/infra/database/project.yaml
Due: kubernetes-validate

Initialize pocket-id app
  .gitattributes
  .gitignore
  k8s/infra/auth/application-set.yaml
  k8s/infra/auth/kustomization.yaml
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/ns.yaml
  k8s/infra/auth/pocket-id/pg-database.yaml
  k8s/infra/auth/project.yaml
  sensitive/adguard-users-secrets_sealed_old.yaml
Due: kubernetes-validate

Store encrypted sensitive files
  .devcontainer/Dockerfile
  .gitleaks.toml
  .pre-commit-config.yaml
  SECRETS_MANAGEMENT.md
  renovate.json
  sensitive/adguard-users-secrets.yaml
  sensitive/adguard-users-secrets_sealed.yaml
  sensitive/argocd-github-secret.yaml
  sensitive/argocd-github-secret_sealed.yaml
  sensitive/argocd-github-secret_sealed_old.yaml
  sensitive/cert-manager-secret.yaml
  sensitive/cert-manager-secret_sealed.yaml
  sensitive/cert-manager-secret_sealed_old.yaml
  sensitive/grafana-admin-credentials.yaml
  sensitive/grafana-admin-credentials_sealed.yaml
  terraform/kubernetes/modules/volumes/proxmox_volume/config.tf
Due: none

refactor(pre-commit): consolidate exclusion patterns for git-crypt encrypted files
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
Due: none

chore: update tool versions in Dockerfile and pre-commit workflow
  .devcontainer/Dockerfile
  .github/workflows/pre-commit.yml
  cspell-dict.txt
Due: none

Pocket id init argocd apps - Miscellaneous updates (#125)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitattributes
  .github/workflows/pre-commit.yml
  .gitignore
  .gitleaks.toml
  .pre-commit-config.yaml
  SECRETS_MANAGEMENT.md
  cspell-dict.txt
  k8s/infra/auth/application-set.yaml
  k8s/infra/auth/kustomization.yaml
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/ns.yaml
  k8s/infra/auth/pocket-id/pg-database.yaml
  k8s/infra/auth/project.yaml
  renovate.json
  sensitive/adguard-users-secrets.yaml
  sensitive/adguard-users-secrets_sealed.yaml
  sensitive/adguard-users-secrets_sealed_old.yaml
  sensitive/argocd-github-secret.yaml
  sensitive/argocd-github-secret_sealed.yaml
  sensitive/argocd-github-secret_sealed_old.yaml
  sensitive/cert-manager-secret.yaml
  sensitive/cert-manager-secret_sealed.yaml
  sensitive/cert-manager-secret_sealed_old.yaml
  sensitive/grafana-admin-credentials.yaml
  sensitive/grafana-admin-credentials_sealed.yaml
  terraform/kubernetes/modules/volumes/proxmox_volume/config.tf
Due: kubernetes-validate

feat: Add Kubernetes resources for Pocket ID including sealed secrets and cluster configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Taskfile.yml
  cspell-dict.txt
  k8s/Taskfile.yml
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pg-cluster.yaml
  k8s/infra/auth/pocket-id/pg-database.yaml
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  renovate.json
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
Due: kubernetes-validate, taskfile-validate

fix: Rename pg-superuser-credentials to pg-user-credentials across all relevant files
  k8s/infra/auth/pocket-id/pg-cluster.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
Due: kubernetes-validate

fix: Update credential names from pg-user-credentials to pg-superuser-credentials in relevant files
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
Due: kubernetes-validate

fix: Update database owner in pg-cluster.yaml to pocketid-user
  cspell-dict.txt
  k8s/infra/auth/pocket-id/pg-cluster.yaml
Due: kubernetes-validate

feat: Add Postgres for Pocket ID (#126)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Taskfile.yml
  cspell-dict.txt
  k8s/Taskfile.yml
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pg-cluster.yaml
  k8s/infra/auth/pocket-id/pg-database.yaml
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  renovate.json
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
Due: kubernetes-validate, taskfile-validate

feat: Refactor Pocket ID deployment to use 'auth' namespace and add necessary resources
  cspell-dict.txt
  k8s/apps/media/arr/kustomization.yaml
  k8s/infra/auth/kustomization.yaml
  k8s/infra/auth/ns.yaml
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pg-cluster.yaml
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
  k8s/infra/auth/pocket-id/pi-http-route.yaml
  k8s/infra/auth/pocket-id/pi-pvc.yaml
  k8s/infra/auth/pocket-id/pi-secrets.yaml
  k8s/infra/auth/pocket-id/pi-svc.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets.yaml
Due: kubernetes-validate

fix: Rollback configMapGenerator to use 'common-env' and 'arr' namespace
  k8s/apps/media/arr/kustomization.yaml
Due: kubernetes-validate

fix: Update PUID and PGID to 12501 in kustomization and deployment files
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
Due: kubernetes-validate

Update k8s/infra/auth/pocket-id/pi-deployment.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
Due: kubernetes-validate

feat: Update Pocket ID secrets management with new encryption keys and format adjustments
  k8s/infra/auth/pocket-id/pi-secrets.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets_sealed.yaml
Due: kubernetes-validate

fix: Update database connection string and remove redundant namespace declaration in deployment
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
Due: kubernetes-validate

feat: Add liveness and readiness probes to Pocket ID deployment and update configMapGenerator for database connection
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
Due: kubernetes-validate

feat: Add metrics endpoint and ServiceMonitor for Pocket ID
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
  k8s/infra/auth/pocket-id/pi-servicemonitor.yaml
  k8s/infra/auth/pocket-id/pi-svc.yaml
Due: kubernetes-validate

feat: Refactor Pocket ID deployment add the app (#128)
  cspell-dict.txt
  k8s/infra/auth/kustomization.yaml
  k8s/infra/auth/ns.yaml
  k8s/infra/auth/pocket-id/kustomization.yaml
  k8s/infra/auth/pocket-id/pg-cluster.yaml
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
  k8s/infra/auth/pocket-id/pi-http-route.yaml
  k8s/infra/auth/pocket-id/pi-pvc.yaml
  k8s/infra/auth/pocket-id/pi-secrets.yaml
  k8s/infra/auth/pocket-id/pi-servicemonitor.yaml
  k8s/infra/auth/pocket-id/pi-svc.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets_sealed.yaml
Due: kubernetes-validate

fix: update destination namespace from pocket-id to auth in project.yaml
  k8s/infra/auth/project.yaml
Due: kubernetes-validate

fix: update destination namespace from pocket-id to auth in project.yaml (#130)
  k8s/infra/auth/project.yaml
Due: kubernetes-validate

Update Pocket ID Kubernetes configurations and secrets
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
  k8s/infra/auth/pocket-id/pi-secrets.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets_sealed.yaml
Due: kubernetes-validate

Update Pocket ID Kubernetes configurations and secrets (#131)
  k8s/infra/auth/pocket-id/pg-superuser-credentials.yaml
  k8s/infra/auth/pocket-id/pg-user-credentials.yaml
  k8s/infra/auth/pocket-id/pi-deployment.yaml
  k8s/infra/auth/pocket-id/pi-secrets.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-superuser-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pg-user-credentials_sealed.yaml
  sensitive/k8s_infra_auth_pocket-id_pg-pi-secrets_sealed.yaml
Due: kubernetes-validate

feat: add OpenTelemetry metrics configuration to Pocket ID
  k8s/infra/auth/pocket-id/kustomization.yaml
Due: kubernetes-validate

feat: add OpenTelemetry metrics configuration to Pocket ID (#132)
  k8s/infra/auth/pocket-id/kustomization.yaml
Due: kubernetes-validate

Path conditions:
  packer-validate: any of: packer/.*\.pkr\.hcl$
  kubernetes-validate: any of: ^k8s/.*\.(yaml|yml)$
  taskfile-validate: any of: ^.*Taskfile\.yml$
