Repository cedsbe/home-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-validate, kubernetes-validate, taskfile-validate

Path conditions:
  packer-validate: any of: packer/.*\.pkr\.hcl$
  kubernetes-validate: any of: ^k8s/.*\.(yaml|yml)$
  taskfile-validate: any of: ^.*Taskfile\.yml$

Fix namespace typos in FlareSolverr service and update AppProject to include the correct namespace (#52)
  k8s/apps/utils/flaresolverr/svc.yaml
  k8s/apps/utils/project.yaml
Due: kubernetes-validate

Naming rework - Cleanup templates
  .github/copilot-instructions.md
  k8s/infra/network/gateway/gateway-class.yaml
  terraform/kubernetes/modules/talos/proxmox-images.tf
  terraform/kubernetes/modules/talos/talos-config.tf
  terraform/kubernetes/modules/talos/talos_machine_config_templates/common.yaml.tftpl
  terraform/kubernetes/modules/talos/talos_machine_config_templates/control-plane.yaml.tftpl
  terraform/kubernetes/modules/talos/talos_machine_config_templates/worker.yaml.tftpl
Due: kubernetes-validate

Extract the components versions
  terraform/kubernetes/components_versions.auto.tfvars
  terraform/kubernetes/main.tf
  terraform/kubernetes/modules/talos/talos-config.tf
  terraform/kubernetes/modules/talos/talos_images/variables.tf
  terraform/kubernetes/modules/talos/talos_machine_config_templates/common.yaml.tftpl
  terraform/kubernetes/modules/talos/variables.tf
  terraform/kubernetes/proxmox.auto.tfvars
  terraform/kubernetes/variables.tf
Due: none

Improve talos_image
  terraform/kubernetes/modules/talos/talos_images/outputs.tf
  terraform/kubernetes/modules/talos/talos_images/talos_base.tf
  terraform/kubernetes/modules/talos/talos_images/talos_update.tf
Due: none

Enhance Proxmox CSI plugin configuration with detailed descriptions and minimal privilege roles
  terraform/kubernetes/modules/proxmox_csi_plugin/main.tf
  terraform/kubernetes/modules/proxmox_csi_plugin/outputs.tf
  terraform/kubernetes/modules/proxmox_csi_plugin/variables.tf
Due: none

Enhance Proxmox volume configuration with detailed descriptions and outputs for better clarity and usability
  terraform/kubernetes/modules/volumes/outputs.tf
  terraform/kubernetes/modules/volumes/persistent_volume/config.tf
  terraform/kubernetes/modules/volumes/persistent_volume/outputs.tf
  terraform/kubernetes/modules/volumes/persistent_volume/variables.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/config.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/outputs.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/variables.tf
  terraform/kubernetes/modules/volumes/variables.tf
Due: none

Enhance Terraform configuration with detailed descriptions for Cilium, Talos, Proxmox, and Kubernetes components; improve variable descriptions for clarity and usability.
  terraform/kubernetes/main.tf
  terraform/kubernetes/outputs.tf
  terraform/kubernetes/providers.tf
  terraform/kubernetes/variables.tf
Due: none

Add validation for Talos image updates and enhance variable descriptions for clarity
  .github/copilot-instructions.md
  .vscode/settings.json
  terraform/kubernetes/modules/talos/proxmox-images.tf
  terraform/kubernetes/modules/talos/variables.tf
Due: none

Rename fils for better grouping
  terraform/kubernetes/modules/talos/variables.tf
  terraform/kubernetes/var_components_versions.auto.tfvars
  terraform/kubernetes/var_proxmox.auto.tfvars
  terraform/kubernetes/var_proxmox.secrets.auto.tfvars
  terraform/kubernetes/var_proxmox.secrets.auto.tfvars.template
Due: none

Update Talos image configuration and variable definitions for clarity and consistency; adjust file associations in VSCode settings.
  .vscode/settings.json
  terraform/kubernetes/modules/talos/talos_images/talos_update.tf
  terraform/kubernetes/modules/talos/talos_images/variables.tf
  terraform/kubernetes/modules/talos/variables.tf
  terraform/kubernetes/var_components_versions.auto.tfvars
Due: none

Update Talos image version to v1.11.5 and remove null-safety validation for update images
  terraform/kubernetes/modules/talos/proxmox-images.tf
  terraform/kubernetes/modules/talos/talos_images/talos_update.tf
  terraform/kubernetes/var_components_versions.auto.tfvars
Due: none

Fix typo in comment for GatewayClass resource in gateway-class.yaml
  k8s/infra/network/gateway/gateway-class.yaml
Due: kubernetes-validate

Terraform talos updates (#54)
  .github/copilot-instructions.md
  k8s/infra/network/gateway/gateway-class.yaml
  terraform/kubernetes/main.tf
  terraform/kubernetes/modules/proxmox_csi_plugin/main.tf
  terraform/kubernetes/modules/proxmox_csi_plugin/outputs.tf
  terraform/kubernetes/modules/proxmox_csi_plugin/variables.tf
  terraform/kubernetes/modules/talos/proxmox-images.tf
  terraform/kubernetes/modules/talos/talos-config.tf
  terraform/kubernetes/modules/talos/talos_images/outputs.tf
  terraform/kubernetes/modules/talos/talos_images/talos_base.tf
  terraform/kubernetes/modules/talos/talos_images/talos_update.tf
  terraform/kubernetes/modules/talos/talos_images/variables.tf
  terraform/kubernetes/modules/talos/talos_machine_config/worker.yaml.tftpl
  terraform/kubernetes/modules/talos/talos_machine_config_templates/common.yaml.tftpl
  terraform/kubernetes/modules/talos/talos_machine_config_templates/control-plane.yaml.tftpl
  terraform/kubernetes/modules/talos/talos_machine_config_templates/worker.yaml.tftpl
  terraform/kubernetes/modules/talos/variables.tf
  terraform/kubernetes/modules/volumes/outputs.tf
  terraform/kubernetes/modules/volumes/persistent_volume/config.tf
  terraform/kubernetes/modules/volumes/persistent_volume/outputs.tf
  terraform/kubernetes/modules/volumes/persistent_volume/variables.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/config.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/outputs.tf
  terraform/kubernetes/modules/volumes/proxmox_volume/variables.tf
  terraform/kubernetes/modules/volumes/variables.tf
  terraform/kubernetes/outputs.tf
  terraform/kubernetes/providers.tf
  terraform/kubernetes/var_components_versions.auto.tfvars
  terraform/kubernetes/var_proxmox.auto.tfvars
  terraform/kubernetes/var_proxmox.secrets.auto.tfvars
  terraform/kubernetes/var_proxmox.secrets.auto.tfvars.template
  terraform/kubernetes/variables.tf
Due: kubernetes-validate

Switch from Grafana bundled in Prometheus to grafana-operator
  README.md
  k8s/infra/controllers/argocd/kustomization.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-application-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-applicationset-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-redis.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-repo-server.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-server.yaml
  k8s/infra/controllers/argocd/values.yaml
  k8s/infra/controllers/cert-manager/values.yaml
  k8s/infra/monitoring/grafana/admin-credentials.yaml
  k8s/infra/monitoring/grafana/datasources/alertmanager-operated.yaml
  k8s/infra/monitoring/grafana/datasources/prometheus-operated.yaml
  k8s/infra/monitoring/grafana/grafana-operator-dashboard.yaml
  k8s/infra/monitoring/grafana/grafana.yaml
  k8s/infra/monitoring/grafana/http-route.yaml
  k8s/infra/monitoring/grafana/kustomization.yaml
  k8s/infra/monitoring/grafana/ns.yaml
  k8s/infra/monitoring/grafana/values.yaml
  k8s/infra/monitoring/project.yaml
  k8s/infra/monitoring/prometheus-stack/alertmanager-http-route.yaml
  k8s/infra/monitoring/prometheus-stack/kube-prometheus-stack.yaml
  k8s/infra/monitoring/prometheus-stack/kustomization.yaml
  k8s/infra/monitoring/prometheus-stack/ns.yaml
  k8s/infra/monitoring/prometheus-stack/prometheus-http-route.yaml
  k8s/infra/monitoring/prometheus-stack/values.yaml
  k8s/infra/network/cilium/values_bootstrap.yaml
Due: kubernetes-validate

Update Kustomization and Application Set configurations
  k8s/apps/application-set.yaml
  k8s/apps/dev/application-set.yaml
  k8s/apps/media/application-set.yaml
  k8s/apps/utils/application-set.yaml
  k8s/infra/application-set.yaml
  k8s/infra/controllers/application-set.yaml
  k8s/infra/monitoring/application-set.yaml
  k8s/infra/monitoring/prometheus-stack/kustomization.yaml
  k8s/infra/network/application-set.yaml
  k8s/infra/storage/application-set.yaml
Due: kubernetes-validate

Add grafana operator - Disable Grafana deployment in Prometheus (#60)
  README.md
  k8s/apps/application-set.yaml
  k8s/apps/dev/application-set.yaml
  k8s/apps/media/application-set.yaml
  k8s/apps/utils/application-set.yaml
  k8s/infra/application-set.yaml
  k8s/infra/controllers/application-set.yaml
  k8s/infra/controllers/argocd/kustomization.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-application-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-applicationset-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-redis.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-repo-server.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-server.yaml
  k8s/infra/controllers/argocd/values.yaml
  k8s/infra/controllers/cert-manager/values.yaml
  k8s/infra/monitoring/application-set.yaml
  k8s/infra/monitoring/grafana/admin-credentials.yaml
  k8s/infra/monitoring/grafana/datasources/alertmanager-operated.yaml
  k8s/infra/monitoring/grafana/datasources/prometheus-operated.yaml
  k8s/infra/monitoring/grafana/grafana-operator-dashboard.yaml
  k8s/infra/monitoring/grafana/grafana.yaml
  k8s/infra/monitoring/grafana/http-route.yaml
  k8s/infra/monitoring/grafana/kustomization.yaml
  k8s/infra/monitoring/grafana/ns.yaml
  k8s/infra/monitoring/grafana/values.yaml
  k8s/infra/monitoring/project.yaml
  k8s/infra/monitoring/prometheus-stack/alertmanager-http-route.yaml
  k8s/infra/monitoring/prometheus-stack/kube-prometheus-stack.yaml
  k8s/infra/monitoring/prometheus-stack/kustomization.yaml
  k8s/infra/monitoring/prometheus-stack/ns.yaml
  k8s/infra/monitoring/prometheus-stack/prometheus-http-route.yaml
  k8s/infra/monitoring/prometheus-stack/values.yaml
  k8s/infra/network/application-set.yaml
  k8s/infra/network/cilium/values_bootstrap.yaml
  k8s/infra/storage/application-set.yaml
Due: kubernetes-validate

Fix out of sync issues
  k8s/apps/dev/whoamigw/http-route.yaml
  k8s/apps/media/arr/bazarr/http-route.yaml
  k8s/apps/media/arr/lidarr/http-route.yaml
  k8s/apps/media/arr/prowlarr/http-route.yaml
  k8s/apps/media/arr/radarr/http-route.yaml
  k8s/apps/media/arr/sonarr/http-route.yaml
  k8s/apps/utils/torrent/http-route.yaml
  k8s/infra/controllers/argocd/http-route.yaml
  k8s/infra/monitoring/grafana/http-route.yaml
  k8s/infra/monitoring/hubble/http-route.yaml
  k8s/infra/monitoring/project.yaml
  k8s/infra/monitoring/prometheus-stack/alertmanager-http-route.yaml
  k8s/infra/monitoring/prometheus-stack/prometheus-http-route.yaml
  k8s/infra/network/dns/adguard/http-route.yaml
Due: kubernetes-validate

Fix out of sync issues (#62)
  k8s/apps/dev/whoamigw/http-route.yaml
  k8s/apps/media/arr/bazarr/http-route.yaml
  k8s/apps/media/arr/lidarr/http-route.yaml
  k8s/apps/media/arr/prowlarr/http-route.yaml
  k8s/apps/media/arr/radarr/http-route.yaml
  k8s/apps/media/arr/sonarr/http-route.yaml
  k8s/apps/utils/torrent/http-route.yaml
  k8s/infra/controllers/argocd/http-route.yaml
  k8s/infra/monitoring/grafana/http-route.yaml
  k8s/infra/monitoring/hubble/http-route.yaml
  k8s/infra/monitoring/project.yaml
  k8s/infra/monitoring/prometheus-stack/alertmanager-http-route.yaml
  k8s/infra/monitoring/prometheus-stack/prometheus-http-route.yaml
  k8s/infra/network/dns/adguard/http-route.yaml
Due: kubernetes-validate

Add Grafana dashboards for Argo CD, Cert Manager, Hubble, and Cilium
  k8s/infra/controllers/argocd/dashboard.yaml
  k8s/infra/controllers/argocd/kustomization.yaml
  k8s/infra/controllers/cert-manager/dashboard.yaml
  k8s/infra/controllers/cert-manager/kustomization.yaml
  k8s/infra/monitoring/grafana/admin-credentials.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble-dns-namespace.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble-l7-http-metrics.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble-network-overview.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble.yaml
  k8s/infra/monitoring/hubble/kustomization.yaml
  k8s/infra/network/cilium/dashboards/cilium-operator.yaml
  k8s/infra/network/cilium/dashboards/cilium.yaml
  k8s/infra/network/cilium/kustomization.yaml
Due: kubernetes-validate

Add Grafana dashboards for Argo CD, Cert Manager, Hubble, and Cilium (#63)
  k8s/infra/controllers/argocd/dashboard.yaml
  k8s/infra/controllers/argocd/kustomization.yaml
  k8s/infra/controllers/cert-manager/dashboard.yaml
  k8s/infra/controllers/cert-manager/kustomization.yaml
  k8s/infra/monitoring/grafana/admin-credentials.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble-dns-namespace.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble-l7-http-metrics.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble-network-overview.yaml
  k8s/infra/monitoring/hubble/dashboards/hubble.yaml
  k8s/infra/monitoring/hubble/kustomization.yaml
  k8s/infra/network/cilium/dashboards/cilium-operator.yaml
  k8s/infra/network/cilium/dashboards/cilium.yaml
  k8s/infra/network/cilium/kustomization.yaml
Due: kubernetes-validate

fix(argocd): resolve ServiceMonitor resource conflicts
  k8s/infra/controllers/argocd/kustomization.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-application-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-applicationset-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-redis.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-repo-server.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-server.yaml
Due: kubernetes-validate

fix(argocd): resolve ServiceMonitor resource conflicts (#64)
  k8s/infra/controllers/argocd/kustomization.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-application-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-applicationset-controller.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-redis.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-repo-server.yaml
  k8s/infra/controllers/argocd/service-monitors/argocd-server.yaml
Due: kubernetes-validate

feat(cilium): enhance operator configuration with Prometheus metrics and dashboards
  k8s/infra/network/cilium/values.yaml
Due: kubernetes-validate

feat(cilium): enhance operator configuration with Prometheus metrics and dashboards (#65)
  k8s/infra/network/cilium/values.yaml
Due: kubernetes-validate

fix(application-set): adjust syncOptions for network application set
  k8s/infra/application-set.yaml
  k8s/infra/network/application-set.yaml
Due: kubernetes-validate

fix(application-set): adjust syncOptions for network application set (#66)
  k8s/infra/application-set.yaml
  k8s/infra/network/application-set.yaml
Due: kubernetes-validate

fix(csi): add Sys.Audit privilege to Proxmox CSI role
  terraform/kubernetes/modules/proxmox_csi_plugin/main.tf
  terraform/kubernetes/modules/talos/talos_machine_config_templates/control-plane.yaml.tftpl
Due: none

fix(csi): add Sys.Audit privilege to Proxmox CSI role (#76)
  terraform/kubernetes/modules/proxmox_csi_plugin/main.tf
  terraform/kubernetes/modules/talos/talos_machine_config_templates/control-plane.yaml.tftpl
Due: none

fix(monitoring): increase Prometheus storage from 10G to 50G
  k8s/infra/monitoring/prometheus-stack/values.yaml
  terraform/kubernetes/main.tf
Due: kubernetes-validate

fix(monitoring): increase Prometheus storage from 10G to 50G (#79)
  k8s/infra/monitoring/prometheus-stack/values.yaml
  terraform/kubernetes/main.tf
Due: kubernetes-validate

chore(terraform): remove unused .terraform.lock.hcl files
  .vscode/mcp.json
  terraform/kubernetes/modules/proxmox_csi_plugin/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/talos_images/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/persistent_volume/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/proxmox_volume/.terraform.lock.hcl
Due: none

chore(terraform): remove unused .terraform.lock.hcl files (#94)
  .vscode/mcp.json
  terraform/kubernetes/modules/proxmox_csi_plugin/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/.terraform.lock.hcl
  terraform/kubernetes/modules/talos/talos_images/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/persistent_volume/.terraform.lock.hcl
  terraform/kubernetes/modules/volumes/proxmox_volume/.terraform.lock.hcl
Due: none

chore(kustomize): remove unneeded comment — rely on renovate for kustomize updates
  k8s/infra/controllers/cert-manager/kustomization.yaml
  k8s/infra/monitoring/grafana/kustomization.yaml
  k8s/infra/network/cilium/kustomization.yaml
Due: kubernetes-validate

chore(kustomize): remove unneeded comment — rely on renovate for kustomize updates (#97)
  k8s/infra/controllers/cert-manager/kustomization.yaml
  k8s/infra/monitoring/grafana/kustomization.yaml
  k8s/infra/network/cilium/kustomization.yaml
Due: kubernetes-validate

feat: Add Ansible automation setup with comprehensive playbooks and roles
  .gitleaks.toml
  .yamllint.yml
  Notepad.secret.md
  README.md
  Taskfile.yml
  ansible/.gitignore
  ansible/BOOTSTRAP_SUMMARY.md
  ansible/GETTING_STARTED.md
  ansible/README.md
  ansible/Taskfile.yml
  ansible/adhoc-examples.yml
  ansible/ansible.cfg
  ansible/inventory/group_vars/all/common.yml
  ansible/inventory/group_vars/all/vault.yml.template
  ansible/inventory/group_vars/domain_controllers/domain_controllers.yml
  ansible/inventory/group_vars/linux/linux.yml
  ansible/inventory/group_vars/windows/windows.yml
  ansible/inventory/host_vars/.gitkeep
  ansible/inventory/hosts.yml.template
  ansible/playbooks/common/baseline.yml
  ansible/playbooks/linux/update.yml
  ansible/playbooks/windows/active-directory.yml
  ansible/playbooks/windows/update.yml
  ansible/requirements.yml
  ansible/roles/common/base-linux/README.md
  ansible/roles/common/base-linux/defaults/main.yml
  ansible/roles/common/base-linux/handlers/main.yml
  ansible/roles/common/base-linux/tasks/main.yml
  ansible/roles/common/base-linux/templates/hosts.j2
  ansible/roles/common/base-linux/templates/sshd_config.j2
  ansible/roles/common/base-windows/README.md
  ansible/roles/common/base-windows/defaults/main.yml
  ansible/roles/common/base-windows/handlers/main.yml
  ansible/roles/common/base-windows/tasks/main.yml
  ansible/site.yml
  cspell-dict.txt
  task_scripts/validate_ansible.sh
Due: taskfile-validate

feat: Update Ansible inventory and documentation for improved clarity and structure
  ansible/.gitignore
  ansible/BOOTSTRAP_SUMMARY.md
  ansible/GETTING_STARTED.md
  ansible/README.md
  ansible/inventory/group_vars/all/common.yml
  ansible/inventory/hosts.yml
Due: none

feat: Update Ansible inventory and requirements for improved configuration and compatibility
  ansible/inventory/hosts.yml
  ansible/requirements.yml
  packer/windows_server_2025/.env
Due: none

feat: Refactor Ansible playbooks and configurations for improved clarity and functionality
  ansible/.ansible-lint
  ansible/Taskfile.yml
  ansible/ansible.cfg
  ansible/playbooks/common/baseline.yml
  ansible/playbooks/linux/update.yml
  ansible/playbooks/windows/active-directory.yml
  ansible/requirements.yml
  ansible/roles/common/base-linux/handlers/main.yml
  ansible/roles/common/base-windows/handlers/main.yml
  cspell-dict.txt
Due: taskfile-validate

feat: Enhance Ansible configurations and add Windows VM setup for improved infrastructure management
  .vscode/settings.json
  ansible/Taskfile.yml
  ansible/ansible.cfg
  ansible/inventory/group_vars/all/common.yml
  ansible/inventory/group_vars/linux/linux.yml
  ansible/inventory/group_vars/windows/windows.yml
  ansible/inventory/hosts.yml
  ansible/roles/common/base-windows/tasks/main.yml
  ansible/site.yml
  cspell-dict.txt
  terraform/windows/vm_admin_workstation_0.tf
  terraform/windows/vm_domain_controller_dc1.tf
Due: taskfile-validate

feat: Update .gitignore to include Ansible specific files and directories for better management
  .gitignore
Due: none
