Repository cedsbe/home-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-validate-windows-server-2025, kubernetes-validate, taskfile-validate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: mixed-line-ending

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell
        name: Spell check with cspell
        entry: cspell
        language: node
        files: \.(md|txt|yaml|yml|json|js|ts|tf|hcl|ps1|sh|py)$
        exclude: |
          (?x)^(
            .*\.secrets\..*|
            .*\.lock$|
            .*\.log$|
            node_modules/.*|
            .terraform/.*|
            terraform\.tfstate.*|
            .task/.*|
            sensitive/.*|
            .env
          )$

  # - repo: https://github.com/terraform-docs/terraform-docs
  #   rev: v0.20.0
  #   hooks:
  #     - id: terraform-docs-go
  #       args: ["markdown", "table", "--output-file", "README.md"]
  #       files: \.tf$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.5
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl

  # YAML linting (excluding k8s manifests which may have templating)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml, --strict]

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: packer-validate-windows-server-2025
        name: Validate Windows Server 2025 Packer templates
        # yamllint disable-line rule:line-length
        entry: bash -c 'cd packer/windows_server_2025 && packer validate -var clone_vm_id=12345 -var proxmox_api_token=validateOnly -var proxmox_username=validateOnly -var winrm_password=validateOnly .'
        language: system
        files: packer/windows_server_2025/.*\.pkr\.hcl$
        pass_filenames: false

      - id: kubernetes-validate
        name: Validate Kubernetes manifests with kubeconform
        entry: bash task_scripts/validate_kubernetes.sh
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false

      - id: taskfile-validate
        name: Validate Taskfiles
        entry: bash task_scripts/validate_taskfiles.sh
        language: system
        files: ^.*Taskfile\.yml$
        pass_filenames: false

Refactor Packer validation process and update private key handling in Proxmox provider
  .pre-commit-config.yaml
  task_scripts/validate_packer.sh
  terraform/kubernetes/providers.tf
  terraform/windows/providers.tf
Due: none

Enhance pre-commit workflow by adding cspell version check and improving Packer validation script structure
  .github/workflows/pre-commit.yml
  task_scripts/validate_packer.sh
Due: none

Update Python version to 3.14 and streamline CLI tool installation in pre-commit workflow
  .github/workflows/pre-commit.yml
  cspell-dict.txt
Due: none

Revert Python version to 3.13 in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Update pre-commit workflow to install Node.js 22 and switch to cloudposse pre-commit action Refactor Packer validation script to simplify command execution
  .github/workflows/pre-commit.yml
  task_scripts/validate_packer.sh
Due: none

Add cspell installation step to pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Fix cspell installation in pre-commit workflow by using the correct package
  .github/workflows/pre-commit.yml
Due: none

Fix workflows issues (#1)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  cspell-dict.txt
  task_scripts/validate_packer.sh
  terraform/kubernetes/providers.tf
  terraform/windows/providers.tf
Due: none

Finalise Windows' Packer and deploy a Domain Controller
  .vscode/mcp.json
  .vscode/settings.json
  Taskfile.yml
  cspell-dict.txt
  packer/windows_server_2025/README.md
  packer/windows_server_2025/Taskfile.yml
  packer/windows_server_2025/build_files/configs/cloudbase-init/cloudbase-init-unattend.conf
  packer/windows_server_2025/build_files/configs/cloudbase-init/cloudbase-init.conf
  packer/windows_server_2025/build_files/configs/unattended/unattended-clone.xml.pkrtpl
  packer/windows_server_2025/build_files/configs/unattended/unattended-iso.xml.pkrtpl
  packer/windows_server_2025/build_files/scripts/enable-openssh.ps1
  packer/windows_server_2025/build_files/scripts/generalize-clone.ps1
  packer/windows_server_2025/build_files/scripts/generalize-iso.ps1
  packer/windows_server_2025/build_files/scripts/install-cloudbase-init.ps1
  packer/windows_server_2025/build_files/scripts/install-powershell-core.ps1
  packer/windows_server_2025/build_files/scripts/install-sdelete.ps1
  packer/windows_server_2025/build_files/scripts/set-network-private.ps1
  packer/windows_server_2025/build_files/templates/cloudbase-init/cloudbase-init.conf
  packer/windows_server_2025/windows_server_2025_clone.pkr.hcl
  packer/windows_server_2025/windows_server_2025_iso.pkr.hcl
  task_scripts/validate_packer.sh
  terraform/azure/Taskfile.yml
  terraform/kubernetes/.terraform.lock.hcl
  terraform/kubernetes/backend.config.template
  terraform/kubernetes/providers.tf
  terraform/windows/Taskfile.yml
  terraform/windows/backend.config.template
  terraform/windows/backend.tf
  terraform/windows/domain_controllers.tf
  terraform/windows/modules/windows_clone_vm/README.md
  terraform/windows/modules/windows_clone_vm/examples/examples.tf
  terraform/windows/modules/windows_clone_vm/examples/providers.tf
  terraform/windows/modules/windows_clone_vm/main.tf
  terraform/windows/modules/windows_clone_vm/outputs.tf
  terraform/windows/modules/windows_clone_vm/providers.tf
  terraform/windows/modules/windows_clone_vm/variables.tf
  terraform/windows/proxmox.secrets.auto.tfvars.template
  terraform/windows/variables.tf
Due: packer-validate-windows-server-2025, taskfile-validate

Review comments
  packer/windows_server_2025/build_files/scripts/install-powershell-core.ps1
  packer/windows_server_2025/build_files/scripts/set-network-private.ps1
  terraform/windows/modules/windows_clone_vm/README.md
  terraform/windows/modules/windows_clone_vm/variables.tf
Due: none

Add custom user account configuration to Windows VM examples
  terraform/windows/modules/windows_clone_vm/examples/examples.tf
Due: none

Rename the domain controller file
  terraform/windows/domain_controller_dc1.tf
Due: none

Finalise Windows' Packer and deploy a Domain Controller (#2)
  .vscode/mcp.json
  .vscode/settings.json
  Taskfile.yml
  cspell-dict.txt
  packer/windows_server_2025/README.md
  packer/windows_server_2025/Taskfile.yml
  packer/windows_server_2025/build_files/configs/cloudbase-init/cloudbase-init-unattend.conf
  packer/windows_server_2025/build_files/configs/cloudbase-init/cloudbase-init.conf
  packer/windows_server_2025/build_files/configs/unattended/unattended-clone.xml.pkrtpl
  packer/windows_server_2025/build_files/configs/unattended/unattended-iso.xml.pkrtpl
  packer/windows_server_2025/build_files/scripts/enable-openssh.ps1
  packer/windows_server_2025/build_files/scripts/generalize-clone.ps1
  packer/windows_server_2025/build_files/scripts/generalize-iso.ps1
  packer/windows_server_2025/build_files/scripts/install-cloudbase-init.ps1
  packer/windows_server_2025/build_files/scripts/install-powershell-core.ps1
  packer/windows_server_2025/build_files/scripts/install-sdelete.ps1
  packer/windows_server_2025/build_files/scripts/set-network-private.ps1
  packer/windows_server_2025/build_files/templates/cloudbase-init/cloudbase-init.conf
  packer/windows_server_2025/windows_server_2025_clone.pkr.hcl
  packer/windows_server_2025/windows_server_2025_iso.pkr.hcl
  task_scripts/validate_packer.sh
  terraform/azure/Taskfile.yml
  terraform/kubernetes/.terraform.lock.hcl
  terraform/kubernetes/backend.config.template
  terraform/kubernetes/providers.tf
  terraform/windows/Taskfile.yml
  terraform/windows/backend.config.template
  terraform/windows/backend.tf
  terraform/windows/domain_controller_dc1.tf
  terraform/windows/modules/windows_clone_vm/README.md
  terraform/windows/modules/windows_clone_vm/examples/examples.tf
  terraform/windows/modules/windows_clone_vm/examples/providers.tf
  terraform/windows/modules/windows_clone_vm/main.tf
  terraform/windows/modules/windows_clone_vm/outputs.tf
  terraform/windows/modules/windows_clone_vm/providers.tf
  terraform/windows/modules/windows_clone_vm/variables.tf
  terraform/windows/proxmox.secrets.auto.tfvars.template
  terraform/windows/variables.tf
Due: packer-validate-windows-server-2025, taskfile-validate

Add Cloudflare Terraform configuration and environment templates
  .vscode/settings.json
  Taskfile.yml
  terraform/cloudflare/.env.template
  terraform/cloudflare/Taskfile.yml
  terraform/cloudflare/backend.config.template
  terraform/cloudflare/backend.tf
  terraform/cloudflare/cloudflare.auto.tfvars
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/variables.tf
Due: taskfile-validate

Refactor DNS records configuration to unify public records and improve variable descriptions
  terraform/cloudflare/cloudflare.auto.tfvars
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/variables.tf
Due: none

Update init task description for Cloudflare infrastructure
  terraform/cloudflare/Taskfile.yml
Due: taskfile-validate

Add Cloudflare Terraform configuration and environment templates (#3)
  .vscode/settings.json
  Taskfile.yml
  terraform/cloudflare/.env.template
  terraform/cloudflare/Taskfile.yml
  terraform/cloudflare/backend.config.template
  terraform/cloudflare/backend.tf
  terraform/cloudflare/cloudflare.auto.tfvars
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/variables.tf
Due: taskfile-validate

feat: implement git-crypt secrets management
  .gitattributes
  Taskfile.yml
  terraform/cloudflare/cloudflare.secrets.auto.tfvars.template
Due: taskfile-validate

feat: add encrypted secrets files with git-crypt
  .gitleaks.toml
  Taskfile.yml
  packer/windows_server_2025/.env
  terraform/azure/azure.secrets.auto.tfvars
  terraform/azure/backend.config
  terraform/cloudflare/.env
  terraform/cloudflare/backend.config
  terraform/cloudflare/cloudflare.secrets.auto.tfvars
  terraform/kubernetes/backend.config
  terraform/kubernetes/proxmox.secrets.auto.tfvars
  terraform/windows/backend.config
  terraform/windows/proxmox.secrets.auto.tfvars
Due: taskfile-validate

docs: add comprehensive secrets management documentation
  SECRETS_MANAGEMENT.md
  cspell-dict.txt
Due: none

Fix formatting
  SECRETS_MANAGEMENT.md
Due: none

fix(ci): exclude git-crypt encrypted files from pre-commit hooks
  .pre-commit-config.yaml
  Taskfile.yml
  cspell-dict.txt
Due: taskfile-validate

feat: add step to unlock secrets using git-crypt in pre-commit workflow
  .github/workflows/pre-commit.yml
  cspell-dict.txt
Due: none

Remove secrets during CI
  .gitattributes
  .github/workflows/pre-commit.yml
  .vscode/settings.json
Due: none

fix: improve comment clarity and regex for git-crypt file removal in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix: streamline encrypted file removal in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix: clarify removal of git-crypt encrypted files in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Add git crypt (#4)
  .gitattributes
  .github/workflows/pre-commit.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  .vscode/settings.json
  SECRETS_MANAGEMENT.md
  Taskfile.yml
  cspell-dict.txt
  packer/windows_server_2025/.env
  terraform/azure/azure.secrets.auto.tfvars
  terraform/azure/backend.config
  terraform/cloudflare/.env
  terraform/cloudflare/backend.config
  terraform/cloudflare/cloudflare.secrets.auto.tfvars
  terraform/cloudflare/cloudflare.secrets.auto.tfvars.template
  terraform/kubernetes/backend.config
  terraform/kubernetes/proxmox.secrets.auto.tfvars
  terraform/windows/backend.config
  terraform/windows/proxmox.secrets.auto.tfvars
Due: taskfile-validate

Refactor Azure Terraform configuration: reorganize directory structure
  .github/copilot-instructions.md
  .gitignore
  Taskfile.yml
  task_scripts/validate_taskfiles.sh
  terraform/azure/azure.secrets.auto.tfvars
  terraform/azure/backend.config
  terraform/azure/global/README.md
  terraform/azure/global/Taskfile.yml
  terraform/azure/global/azure.auto.tfvars
  terraform/azure/global/azure.secrets.auto.tfvars.template
  terraform/azure/global/backend.config.template
  terraform/azure/global/backend.tf
  terraform/azure/global/main.tf
  terraform/azure/global/outputs.tf
  terraform/azure/global/providers.tf
  terraform/azure/global/variables.tf
Due: taskfile-validate

Update documentation for Azure Terraform configuration: clarify purpose and enhance descriptions of resources
  .github/copilot-instructions.md
  terraform/azure/global/README.md
Due: none

Also add crypted files
  .gitattributes
  .gitignore
  terraform/azure/global/azure.secrets.auto.tfvars
  terraform/azure/global/backend.config
Due: none

Move current Azure terraform code to global (#5)
  .gitattributes
  .github/copilot-instructions.md
  .gitignore
  Taskfile.yml
  task_scripts/validate_taskfiles.sh
  terraform/azure/global/README.md
  terraform/azure/global/Taskfile.yml
  terraform/azure/global/azure.auto.tfvars
  terraform/azure/global/azure.secrets.auto.tfvars
  terraform/azure/global/azure.secrets.auto.tfvars.template
  terraform/azure/global/backend.config
  terraform/azure/global/backend.config.template
  terraform/azure/global/backend.tf
  terraform/azure/global/main.tf
  terraform/azure/global/outputs.tf
  terraform/azure/global/providers.tf
  terraform/azure/global/variables.tf
Due: taskfile-validate

Add Terraform configuration for Azure Static Web App deployment
  .gitleaks.toml
  Taskfile.yml
  cspell-dict.txt
  terraform/azure/global/backend.config
  terraform/azure/global/main.tf
  terraform/azure/landing-static-web-app/Taskfile.yml
  terraform/azure/landing-static-web-app/azure.auto.tfvars
  terraform/azure/landing-static-web-app/azure.secrets.auto.tfvars
  terraform/azure/landing-static-web-app/azure.secrets.auto.tfvars.template
  terraform/azure/landing-static-web-app/backend.config
  terraform/azure/landing-static-web-app/backend.config.template
  terraform/azure/landing-static-web-app/backend.tf
  terraform/azure/landing-static-web-app/main.tf
  terraform/azure/landing-static-web-app/outputs.tf
  terraform/azure/landing-static-web-app/providers.tf
  terraform/azure/landing-static-web-app/variables.tf
  terraform/cloudflare/cloudflare.auto.tfvars
Due: taskfile-validate

Add Terraform configuration for Azure Static Web App deployment (#6)
  .gitleaks.toml
  Taskfile.yml
  cspell-dict.txt
  terraform/azure/global/backend.config
  terraform/azure/global/main.tf
  terraform/azure/landing-static-web-app/Taskfile.yml
  terraform/azure/landing-static-web-app/azure.auto.tfvars
  terraform/azure/landing-static-web-app/azure.secrets.auto.tfvars
  terraform/azure/landing-static-web-app/azure.secrets.auto.tfvars.template
  terraform/azure/landing-static-web-app/backend.config
  terraform/azure/landing-static-web-app/backend.config.template
  terraform/azure/landing-static-web-app/backend.tf
  terraform/azure/landing-static-web-app/main.tf
  terraform/azure/landing-static-web-app/outputs.tf
  terraform/azure/landing-static-web-app/providers.tf
  terraform/azure/landing-static-web-app/variables.tf
  terraform/cloudflare/cloudflare.auto.tfvars
Due: taskfile-validate

Update: Cilium to 1.18.3 and Gateway API CRD references to v1.3.0
  Taskfile.yml
  cspell.json
  k8s/infra/crds/kustomization.yaml
  k8s/infra/network/cilium/kustomization.yaml
  terraform/kubernetes/modules/talos/talos_machine_config/control-plane.yaml.tftpl
Due: kubernetes-validate, taskfile-validate

Update: Cilium to 1.18.3 and Gateway API CRD references to v1.3.0 (#7)
  Taskfile.yml
  cspell.json
  k8s/infra/crds/kustomization.yaml
  k8s/infra/network/cilium/kustomization.yaml
  terraform/kubernetes/modules/talos/talos_machine_config/control-plane.yaml.tftpl
Due: kubernetes-validate, taskfile-validate

Update argo-cd helm chart version to 9.0.5
  k8s/infra/controllers/argocd/kustomization.yaml
Due: kubernetes-validate

Update argo-cd helm chart version to 9.0.5 (#8)
  k8s/infra/controllers/argocd/kustomization.yaml
Due: kubernetes-validate

Update helm chart versions for cert-manager, sealed-secrets, kube-prometheus-stack, and proxmox-csi-plugin
  k8s/infra/controllers/cert-manager/kustomization.yaml
  k8s/infra/controllers/sealed-secrets/kustomization.yaml
  k8s/infra/monitoring/prometheus-stack/kube-prometheus-stack.yaml
  k8s/infra/network/dns/adguard/deployment.yaml
  k8s/infra/storage/proxmox-csi/kustomization.yaml
Due: kubernetes-validate

Update helm chart versions for cert-manager, sealed-secrets, kube-prometheus-stack, and proxmox-csi-plugin (#9)
  k8s/infra/controllers/cert-manager/kustomization.yaml
  k8s/infra/controllers/sealed-secrets/kustomization.yaml
  k8s/infra/monitoring/prometheus-stack/kube-prometheus-stack.yaml
  k8s/infra/network/dns/adguard/deployment.yaml
  k8s/infra/storage/proxmox-csi/kustomization.yaml
Due: kubernetes-validate
